html{
  height: 25vh;
  width: 800px;
  font-size: 1.5rem;
}

.header{
  text-align: center;
}

.card{
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
}

.input{
  padding: 2px;
}

#destination-input{
  margin-left: 5px;
  min-width: 50vw;
}

#button-wrapper{
  text-align: center;
}